body {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 16rem;
  }
  
  body div p {
      font-size: 30px;
  }


.body {
    width: 600px;
    height: 350px;
    background-color: orange;
    display: flexbox;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.body p {
    color: white;
    font-size: 24px;
}

.buttons button{
    background-color: orange;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    color: #3498db;
  }
  button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
  }

#timer {
    font-size: 100px;
    color: white    ;
    margin-bottom: 30px;
}
