body {
    background-color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.scratch{
    width: 20rem;
    height: 25rem;

    display: inline;

    border: 1px;
    border-style: solid;
    border-color: black;
}

.display{
    height: 5rem;

    border: 1px;
    border-style: solid;
    border-color: black;

    margin: 15px;   
    margin-bottom: 30px;
    margin-right: 10px;
}

#display{
    font-size: 40px;

    display: flex;
    justify-content: flex-end;

    margin-top: 30px;
    margin-right: 7px;
}

.buttons {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . .";

}  

.buttons button {
    background-color: whitesmoke;
    height: 2.5rem;
    width: 3.5rem;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: -31px;
    border-style: none;
    border-radius: 3px;
}

#sum, #minus, #vesus, #divisor {
    background-color: gainsboro;
}

#equal{
    height: 12rem;
    background-color: blue;
    color: white;
}
